# parsedata configuration file
--sarB--
INDIR=../dbt3_2.5.62_flock2
INFILE=run.sar.data
OUTDIR=../dbt3_2.5.62_flock2/plot
OUTFILE=sar_paging
COMMENT=Paging (sar -B ) 
SAROPT=-B
MINCOL=0
MAXCOL=1
--sarB--
--sarb--
INDIR=../dbt3_2.5.62_flock2
INFILE=run.sar.data
OUTDIR=../dbt3_2.5.62_flock2/plot
OUTFILE=sar_io
COMMENT=IO (sar -b ) 
SAROPT=-b
MINCOL=0
MAXCOL=4
--sarb--
--tsaru--
INDIR=../dbt3_2.5.62_flock2
INFILE=run.sar.data
OUTDIR=../dbt3_2.5.62_flock2/plot
OUTFILE=sar_tcpu_all
COMMENT=CPU Statistics (CPU sar -u ) 
SAROPT=-u
MINCOL=0
MAXCOL=4
TITLE=Cpu_Busy
--tsaru--
--sarr--
INDIR=../dbt3_2.5.62_flock2
INFILE=run.sar.data
OUTDIR=../dbt3_2.5.62_flock2/plot
OUTFILE=sar_memory
SAROPT=-r
MINCOL=0
MAXCOL=8
COMMENT=Memory (sar -r ) 
--sarr--
--sarW--
INDIR=../dbt3_2.5.62_flock2
INFILE=run.sar.data
OUTDIR=../dbt3_2.5.62_flock2/plot
OUTFILE=sar_swap
SAROPT=-W
MINCOL=0
MAXCOL=1
COMMENT=Swap (sar -W)
--sarW--
--Usar--
INDIR=../dbt3_2.5.62_flock2
INFILE=run.sar.data
OUTFILE=sar_cpu
OUTDIR=../dbt3_2.5.62_flock2/plot
SAROPT=-U
MINCOL=0
MAXCOL=3
TITLE=CPU Statistics
COMMENT=Cpu Percent Busy
--Usar--
