# parsedata configuration file
--vmstat--
INDIR=../dbt3_2.5.54_1G
INFILE=vmstat.out
OUTDIR=../dbt3_2.5.54_1G/plot
OUTFILE=run.vm.all
COMMENT=Vmstat run every 60 seconds
GRAPHDIR=../dbt3_2.5.54_1G/plot
--vmstat--
--iostat--
INDIR=../throughput_2.5.60
INFILE=io.txt
OUTDIR=../throughput_2.5.60/plot
OUTFILE=io
COMMENT=Iostat sample every 30 seconds
GRAPHDIR=../throughput_2.5.60/plot
--iostat--
